<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jenkins tutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4FDABF41DE40780008DCEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FDAC081DE40780008DCEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FDAC131DE40780008DCEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
